body{
    background-color: aliceblue;
}

#container{
    background-color: white;
    width: 1000px;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows:  repeat(16, auto);
}

.board{ 
    background-color: white;
}

#buttSize{
    width: 200px;
    height: 75px;
}