body{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 50px;
    color:rgb(48, 191, 196);
}

#container{
    background-color: white;
    width: 1000px;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows:  repeat(16, auto);
}
.border{
    width: 1200px;
    height: 1200px;
    background-color:rgb(250, 151, 90);
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{ 
    background-color: white;
}

button{
    width: 200px;
    height: 75px;
}